$font-size: 25px;
$dark-indigo: #49599a;
$medium-indigo: #7986cb;
$light-indigo: #aab6fe;
$checkbox-indigo: #dde8ff;

body{
    background-color: $medium-indigo;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-template-rows: 1fr 5fr 5fr 1fr;
    grid-template-areas:
        "header header header header"
        ". form-div form-div ."
        ". form-div form-div ."
        "footer footer footer footer";
}

header{
    grid-area: header;
}
.form-div{
    background-color: $light-indigo;
    grid-area: form-div;
    box-shadow: 10px 10px 8px;
    justify-items: center;
    border-radius: 10%;
}

form{
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 15px;
}

label {
    grid-column: 1 / 2;
    text-align: center;
}
 
input,
select,
#radio-button-group,
#checkbox-group,
button {
    grid-column: 2 / 3;
    width: 50%;
}

#radio-button-group{
    display: flex;
    flex-direction: row;
}

#checkbox-group{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 10px;
}

#textarea{
    width: 50%;
}

#email:invalid{
    border: 3px solid red;
}
#number:invalid{
    border: 3px solid red;
}

h1{
    text-align: center;
}

.survey-summary{
    text-align: center;
}